/* Base colours */
:root {
    --white: #fbfcff;
    --black: #090c08;
    --primary: #546e7a;
    --secondary: #f9aa33;
}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: "Muli", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: var(--black);
    background-color: var(--white);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--secondary);
    outline-offset: 5px;
}

body {
    margin: 100px 200px 0 200px;
}

@media (max-width: 1200px) {
    body {
        margin: 100px 100px 0 100px;
    }
}

@media (max-width: 1000px) {
    body {
        margin: 20px 50px 0 50px;
    }
}

@media (max-width: 700px) {
    body {
        margin: 0 20px 0 20px;
    }
}

/* Base fonts */
h1,
h2,
h3,
h4 {
    margin: 0;
    line-height: 1.2;
    font-weight: 800;
}

p {
    margin: 0;
    line-height: 1.2;
    font-weight: 400;
}

html {
    font-size: 1.25em;
}

h1 {
    font-size: 5.063em;
}

h2 {
    font-size: 3.375em;
}

h3 {
    font-size: 2.25em;
}

h4 {
    font-size: 1.5em;
}

@media (max-width: 1200px) {
    html {
        font-size: 1.125em;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 1em;
    }
}

.body--text-primary {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

.body--text-secondary {
    color: var(--secondary);
}

/* grid */
.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "header main"
        "header main"
        "header footer";
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}

/* navigation header */
header {
    grid-area: header;
    padding: 20px 0;
    display: grid;
    grid-template-rows: 100px auto;
    height: 100vh;
    position: fixed;
}

header a {
    color: var(--black);
    text-decoration: none;
}

header a.header--link-active {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

header a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

header .links {
    display: grid;
    justify-items: start;
}

.links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.links ul li {
    margin: 10px 0px;
}

@media (max-width: 1000px) {
    header {
        grid-area: header;
        padding: 20px 0;
        display: grid;
        grid-template-columns: 1fr auto;
        height: auto;
        position: relative;
    }

    header .links {
        display: grid;
        justify-items: end;
    }

    .links ul {
        display: flex;
    }

    .links ul li {
        margin: 0px 10px;
    }
}

/* main body */
main {
    grid-area: main;
    padding: 20px 0;
    display: grid;
    grid-gap: 20px;
}

main .main--title {
    padding: 0 20px 50px 0;
    display: grid;
    justify-items: self;
}

main .main--subtitle {
    padding: 30px 0;
}

main .items-list {
    display: grid;
    grid-gap: 100px;
    grid-auto-rows: auto;
}

main a.item--link {
    color: var(--black);
    text-decoration: none;
}

main a.item--link:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

main .items-list .item {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

main .items-list .item .item--image {
    height: 240px;
    width: 100%;
    display: grid;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

main .items-list .item .item--description {
    display: grid;
    grid-gap: 10px;
    align-content: center;
}

@media (max-width: 700px) {
    main .items-list .item {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}

/* footer */
footer {
    grid-area: footer;
    color: var(--black);
    padding: 20px 0;
    display: grid;
}

footer #footer-icons {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto 1fr;
    align-items: center;
}

footer img {
    width: 24px;
    height: auto;
}
