/* Base colours */
:root {
    --white: #fbfcff;
    --black: #090c08;
    --primary: #0e6ba8;
    --secondary: #00a896;
}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: "Quattrocento Sans", "Noto Sans", Roboto, Helvetica, Arial,
        sans-serif;
    font-weight: 600;
    color: var(--black);
    background-color: var(--white);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 50px;
}

/* Base fonts */
h1,
h2,
h3,
h4 {
    font-family: "Lato";
    font-weight: 700;
    line-height: 1.2;
}

p {
    font-family: "Noto Sans";
    line-height: 1.2;
}

html {
    font-size: 1.5em;
}

h1 {
    font-size: 5.063em;
}

h2 {
    font-size: 3.375em;
}

h3 {
    font-size: 2.25em;
}

h4 {
    font-size: 1.5em;
}

@media (max-width: 1000px) {
    html {
        font-size: 1.25em;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 1.125em;
    }
}

.body--text-primary {
    color: var(--primary);
}

.body--text-secondary {
    color: var(--secondary);
}
