/* Base colours */
:root {
    --white: #fbfcff;
    --black: #090c08;
    --primary: #546e7a;
    --secondary: #f9aa33;
}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: "Muli", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: var(--black);
    background-color: var(--white);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--secondary);
    outline-offset: 5px;
}

/* Base fonts */
h1,
h2,
h3,
h4 {
    margin: 0;
    line-height: 1.2;
    font-weight: 800;
}

p {
    margin: 0;
    line-height: 1.4;
    font-weight: 400;
}

html {
    font-size: 1em;
}

h1 {
    font-size: 3.375em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.125em;
}

@media (max-width: 1200px) {
    html {
        font-size: 0.9em;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 0.8em;
    }
}

body {
    display: grid;
    margin: 0;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.body--text-primary {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

.body--text-secondary {
    color: var(--secondary);
}

@media (min-width: 1000px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "header main"
            "header main"
            "header footer";
    }
}

/* navigation header */
header {
    grid-area: header;
    display: grid;
    grid-template-columns:
        [full-start] 1em [main-start] 1fr
        [main-end] 1em [full-end];
    grid-gap: 10px;
}

header .header-content {
    grid-column: main;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr auto;
}

header a {
    color: var(--black);
    text-decoration: none;
}

header a.header--link-active {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

header a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

header .links ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

header .links ul li {
    margin: 0px 5px;
}

@media (min-width: 1000px) {
    header {
        display: block;
    }

    header .header-content {
        display: block;
        margin: 100px 0 0 80px;
        position: fixed;
    }

    header .links ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    header .links ul li {
        margin: 20px 0px;
    }
}

/* main body */
main {
    grid-area: main;
    display: grid;
    grid-template-columns:
        [full-start] 1em [main-start] 1fr
        [main-end] 1em [full-end];
    grid-gap: 10px;
    margin-top: 100px;
}

main .main-content {
    grid-column: main;
}

main .main--title {
    padding: 0 20px 50px 0;
    display: grid;
    justify-items: self;
}

main .main--subtitle {
    padding: 50px 0;
}

main .items-list {
    display: grid;
    grid-gap: 150px;
    grid-auto-rows: auto;
}

main a.item--link {
    color: var(--black);
    text-decoration: none;
}

main a.item--link:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

main .items-list .item {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

main .items-list .item .item--image {
    height: 240px;
    width: 100%;
    display: grid;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

main .items-list .item .item--description {
    display: grid;
    grid-gap: 10px;
    align-content: center;
}

@media (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns:
            [full-start] 100px [main-start] 1fr
            [main-end] 200px [full-end];
    }
}

@media (max-width: 700px) {
    main .items-list .item {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}

/* footer */
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns:
        [full-start] 1em [main-start] 1fr
        [main-end] 1em [full-end];
    grid-gap: 10px;
    color: var(--black);
    padding: 20px 0;
    display: grid;
}

footer #footer-icons {
    grid-column: main;
    margin-top: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto 1fr;
    align-items: center;
}

footer img {
    width: 24px;
    height: auto;
}

@media (min-width: 1000px) {
    footer {
        display: grid;
        grid-template-columns:
            [full-start] 100px [main-start] 1fr
            [main-end] 200px [full-end];
    }
}

/* writing */

main .writing-list {
    display: grid;
    grid-gap: 100px;
    grid-auto-rows: auto;
}

/* article */

main > * {
    grid-column: main;
}

main.article > * {
    margin-bottom: 20px;
}

main.article a {
    color: var(--primary);
    font-weight: 800;
    text-decoration: none;
}

main.article a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

main.article img.article--image {
    grid-column: full;
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin: 0 0 50px 0;
}

main p.body--text-quote {
    font-size: 1.75em;
    color: var(--primary);
    font-style: italic;
}

/* password */

.lightbox-content {
    display: grid;
    grid-gap: 20px;
}

.box {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}

.box input {
    border: 2px solid var(--primary);
    border-radius: 4px;
    box-shadow: none;
    background: var(--white);
    margin-bottom: 10px;
    padding: 10px;
    height: 50px;
    width: 100%;
}

.box p#wrongPassword {
    padding: 10px;
}

.box button {
    background: var(--primary);
    color: var(--white);
    height: 50px;
    font-family: "Muli", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 4px;
}

::-webkit-input-placeholder {
    color: var(--primary);
    text-align: center;
}

::-moz-placeholder {
    color: var(--primary);
    text-align: center;
}

:-ms-input-placeholder {
    color: var(--primary);
    text-align: center;
}
