.blue {
  color: #2F80ED;
}

body {
  padding-top: 70px;
}

.container-fluid {
  background: #f2f2f2;
}

.container-navbar {
  background: white;
}

.container-header {
  min-height: 400px;
  padding-top: 120px;
  padding-bottom: 40px;
  background: white;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase>p>.btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.list-custom {
  font-size: 16px;
  padding-left: 20px;
  list-style: disc;
}

.list-custom>li {
  padding-bottom: 10px
}

p {
  margin: 0 0 20px;
}

.table>tbody>tr>td {
  padding-left: 0px;
}

b {
  font-weight: 800;
}

.spacer {
  padding-bottom: 20px;
}

.spacer-lg {
  padding-bottom: 80px;
}

.spacer-right {
  padding-right: 20px;
}

.img-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  align: right;
}

.img-profile {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

.pointer {
  cursor: pointer;
}

.footer-img {
  width: 36px;
  height: 36px;
  margin: 0 20px;
}

.img-link,
.img-link:hover {
  text-decoration: none;
  cursor: pointer;
}