.case-section {
  margin: 3rem 0 1rem;
}

.case-title {
  margin-top: 0;
  color: var(--black);
}

.case-image {
  justify-self: center;
  margin-bottom: 1rem;
}

.portfolio-section {
  /* border-style: solid;
	border-color: var(--grey); */
  background-color: var(--light-grey);
  border-radius: 8px;
  padding: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.portfolio-title {
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: var(--black);
  transition: all 0.3s ease;
}

.portfolio-section:hover {
  /* border-color: var(--mint); */
  background-color: var(--light-mint);
  transform: translateY(-2px);
  box-shadow: 0px 10px 20px 2px rgb(230, 230, 230, 95);
}

.portfolio-section:hover h5 {
  color: var(--mint);
}

.end-section {
  margin-bottom: 3rem;
}

.descriptor {
  font-size: 0.8rem;
  color: var(--grey);
}
